.button {
  background-color: var(--button-white);
  border-radius: 25px;
  display: flex;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--button-white-hover);
    border: var(--button-green-border);
  }

  &:focus {
    outline: none;
  }
}