:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(28, 28, 28, 0.87);
  background-color: var(--wheat-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --wheat-bg: #fcf5eb;
  --wheat-bg-hover: #fff6e4;
  --green-decor: #25d366;
  --button-white: #f0f2f5;
  --button-white-hover: #e9edef;
  --button-green: #017561;
  --button-green-hover: #048770;
  --button-green-border: 1px #15ba9c solid;
  --chat-color: #d9fdd3;
  --black-bg: #111b21;
  --input-bg: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--button-green);
  text-decoration: none;
}
a:hover {
  color: var(--button-green-hover);
}

span > a {
  border: transparent 1px solid;
  transition: border-bottom-color 0.3s ease-in-out;
}

span > a:hover {
  border-bottom: var(--green-decor) 1px solid;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-bg);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
